src/main/resources/xsd/DeleteStudentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://example.com/webservice/deletestudent">

    <xs:element name="DeleteStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteStudentResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>